<div class="post-header">
  <% if (post.get('avatar_url')) { %>
    <img class="user-avatar" src="<%= post.escape('avatar_url') %>" alt="">
  <% } %>
  <a href="#/users/<%= post.escape('author_id') %>" alt="">
    <%= post.escape('username') %>
  </a>
  <span class="pull-right post-timestamp" data-livestamp="<%= post.escape('created_at') %>"></span>
</div>
<div class="posts-index-item ">
  <a href="#/posts/<%= post.id %>" alt="<%= post.escape('body') %>">
    <img src="<%= post.escape('image_url') %>" alt="" />
  </a>
  <div class="post-footer">
    <div class="post-likes">
      <% var num_post_likes = parseInt(post.escape('num_likes')) %>

      <% if (post.attributes.likers && num_post_likes >= 10) { %>
        <span><%= post.escape('num_likes') %> likes</span>
      <% } %>

      <% if (post.attributes.likers && num_post_likes < 10 && num_post_likes !== 0) { %>
        <span class="post-likes-list">
          <% post.attributes.likers.forEach(function(liker) {  %>
            <a href="#/users/<%= liker.id %>"><%= liker.username %></a>
            <% if (liker !== post.attributes.likers[post.attributes.likers.length-1]) { %>
              , <!-- Add a comma if not the last liker in the list   -->
            <% } %>
          <% }); %>
        </ul>
      <% } %>
    </div>
    <span class="body-username">
      <a href="#/users/<%= post.escape('author_id') %>" alt="" >
        @<%= post.escape('username') %>
      </a>
    </span>
    <%= post.escape('body') %>
  </div>
  <div class="comments-container">
    <% if (post.comments().size() > 0) { %>
      <ul class="comments-list">
      <% post.comments().each(function(comment) { %>
          <li>
            <a href="#/users/<%= comment.escape('author_id') %>">
              @<%= comment.get('author').username %>
            </a>
            <span><%= comment.escape('body') %></span>
            </li>
      <% }); %>
      </ul>
    <% } %>
  </div>
  <hr class="post-interactions-seperator">
  <div class="post-interactions">
      <% if (like.isNew()) { %>
        <a class="post-like-box pull-left" data-id="<%= post.id %>" href=""></a>
      <% } else { %>
        <a class="post-like-box liked pull-left" data-id="<%= post.id %>" href=""></a>
      <% } %>
    <form class="post-comment">
      <input type="text"
             class="post-comment-field"
             name="comment[body]"
             placeholder="Add comment..."
             value="">
      <li class="dropdown">
        <a class="dropdown-toggle post-options-box"
           data-toggle="dropdown" role="button"
           aria-expanded="false">
            <p class="glyphicon glyphicon-option-horizontal"></p>
        </a>
        <ul class="dropdown-menu post-options-dropdown" role="menu">
          <%  if (post.get('author_id') === CURRENT_USER_ID) { %>
            <li><a class="edit-post" href="#/posts/<%= post.id %>/edit">edit</a></li>
            <li><a class="delete-post" href="#/posts/<%= post.id %>">delete</a></li>
          <% } %>
        </ul>
      </li>
    </form>
  </div>
</div>
