<div class="posts">

  <div class="post-header">
    <a href="#/users/<%= post.escape('author_id') %>" alt="">
      <%= post.escape('username') %>
    </a>
  </div>
  <div class="posts-index-item ">
    <a href="#/posts/<%= post.id %>" alt="<%= post.escape('body') %>">
      <img src="<%= post.escape('image_url') %>" alt="" />
    </a>
    <div class="post-footer">
      <span class="body-username">
        <a href="#/users/<%= post.escape('author_id') %>" alt="" >
          @<%= post.escape('username') %>
        </a>
      </span>
      <%= post.escape('body') %>
    </div>
  </div>

</div>
